
.header{
    display:flex;
    justify-content: space-between;
}

.logo{
    height:110px;
    width:100px;
    border: solid 2px black ;
    border-radius:50%;
    margin-left: 10px;
}

.restaurant-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    align-items:center;
    justify-content: flex-start;
    padding:10px;
}

.res-card{
    margin: 30px;
    width: 250px;
    height:380px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15%;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    
}


.res-card:hover {
    transform: translateY(-10px); /* Lifts the card up by 10px */
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3); /* Add a stronger shadow */
    z-index: 10; /* Puts the card on top of others */
  }

.nav-items{
    font-size: 24px;
}

.res-logo{
    width:150px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul >li {
    padding:10px;
    margin:10px;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100px;
}

.filter-btn{
    margin:10px;
    cursor:pointer;
}