


.header{
    display:flex;
    justify-content: space-between;
}

.logo{
    height:110px;
    width:100px;
    border: solid 2px black ;
    border-radius:50%;
    margin-left: 10px;
}

.restaurant-container{
    display:flex;
    flex-shrink: inherit;
    flex-wrap: wrap;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
 
}

.res-card{
    margin: 10px;
    width: 250px;
    height:450px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border:black solid 1px;
    /* border-radius: 15%; */
    transition: transform 0.12s ease, box-shadow 0.3s ease; /* Smooth animation */
    
}


.res-card:hover {
    transform: translateY(-30px); /* Lifts the card up by 10px */
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3); /* Add a stronger shadow */
    z-index: 10; /* Puts the card on top of others */
  }

.nav-items{
    font-size: 24px;
}

.res-logo{
    margin:20px;
    width:150px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul >li {
    padding:10px;
    margin:10px;
}

.search {
    margin: 20px;
}

.res-logo {
    width: 100px;
}

.filter-btn{
    margin-top:40px;
    cursor:pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    margin:10px;
    width:200px;
    height:400px;
    background-color: #F0F0F0;
}


.login{
    margin:10px;
    padding:5px;
    width:120px;
    height:60px;
}

.filter-btn{
    margin:10px;
    height :50px;
    width:130px;
}

.filter{
    display: flex;
}